body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
    background: linear-gradient(to right, #f9c,#fc9,#ffc,#cfc,#cff,#9cf,#ccf);
}

header, main, footer {
    font: 1.5em "Book Antiqua", "Footlight MT Light", cursive;
    margin: auto;
    padding: 5px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
/* Temporary necessity to see containers */
.proj_1 {
    background-color: blue;
}
.proj_2 {
    background-color: yellow;
}
.proj_3 {
    background-color: red;
}
/*Delete above after containers solved*/

.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    z-index: -1000;
}

.header_name {
    width: calc(max-width - 120px);
    text-align: right;
    display: float;
}

.break {
    width: 100%;
    height: 6px;
    background-color: #1bb3b5;
    overflow: hidden;
    margin: 5px 0 5px 0;
}

.feature_work h3 {
    text-align: center;
    padding: 5px;
}

.feat_pic:active {
    transform: skew(10deg, 10deg);
}

.link a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.link a:hover {
    text-decoration: underline;
    color: #a00;
}

.link a:visited {
    text-decoration: underline;
    color: #00a;
}

.connections {
    text-align: left;
    font-size: 14pt;
    display: float;
}

.connections img {
    max-width: 40px;
    display: inline-block;
    padding: 1px;
}
